input[type="text"] {
    width: 100px;       
    height: 20px;      
    padding: 5px;     
    border: 1px solid #ccc;  
    box-sizing: border-box;   
}


button {
    background-color: black;  
    color: white;             
    border: none;           
    padding: 10px 20px;    
    cursor: pointer;         
    font-size: 14px;          
}


button:hover {
    background-color: #333;  
}